#input
REFERENCE=${reference}
READ1=${read1}
READ2=${read2}
#parameters
NAME=${name}
CHROM=${chrom}
WINDOW=${window}
#OUTPUT=${output}
UNIQUE=${unique}
QUALITY=${quality}
COVERAGE=${coverage}
CG=${cg}
CHG=${chg}
CHH=${chh}

module load python samtools bsmap
#pip install --user PyYAML

ARGS=""
# Build up an ARGS string for the program
ARGS="-N $NAME -C $CHROM -S $WINDOW -O ."
if [ ${UNIQUE} -eq 1 ]; then ARGS="${ARGS} -U "; fi
if [ -n "${READ2}" ]; then ARGS="${ARGS} -r2 ${READ2} "; fi
if [ ${QUALITY} -ne 33 ]; then ARGS="${ARGS} -q ${QUALITY} "; fi
if [ ${COVERAGE} -ne 1 ]; then ARGS="${ARGS} -d ${COVERAGE} "; fi
if [ ${CG} -ne 3 ]; then ARGS="${ARGS} --CG ${CG} "; fi
if [ ${CHG} -ne 3 ]; then ARGS="${ARGS} --CHG ${CHG} "; fi
if [ ${CHH} -ne 6 ]; then ARGS="${ARGS} --CHH ${CHH} "; fi


# Run the actual program
python zed-align.py -R ${REFERENCE} -r1 ${READ1} ${ARGS}
